@import 'scss/variables.scss';

.values {
	display: flex;
	flex: 0 0 24%;
	justify-content: space-between;	
	margin-left: 20px;
	margin-right: 50px;

	.temp {
		font-size: 24px;

		&__text {
			color: $red;
		}
	}

	.precip {
		&__value {
			font-size: 24px;
			color: $blue;
		}

		&__text {
			font-size: 18px;
			color: $blue;
		}
	}

	.wind {
		&__value {
			font-size: 24px;
			color: $black;
		}

		&__text {
			font-size: 18px;
			color: $black;
		}
	}
}