@import 'scss/variables.scss';

.values-table{
	display: flex;
	flex-direction: column;
	
	.item {
		display: flex;
		align-items: center;
		padding: 10px 0;
		position: relative;
		justify-content: space-between;
		
		&:after {
			content: '';
			border-bottom: 1px solid $lightGrey;
			width: 100%;
			display: block;
			position: absolute;
			bottom: 0;
		}

		&:hover {
			background-color: rgba(195, 208, 216, 0.3);
			display: flex;
			cursor: pointer;
		}

		&__title {
			font-size: 20px;
			flex: 0 0 50%;
			margin-left: 10px;
		}

		.day {
			display: flex;
			align-items: center;

			&__temp {
				font-size: 20px;
				margin-left: 5px;
			}
			.plus {
				color: $red;
			}
			.minus{
				color: $blue;
			}
		}

		
	}
}