@import 'scss/libs/variables.scss';

.btn {
	padding: 12px;
	display: flex;
	align-items: center;
	background-color: transparent;
	font-size: 18px;
	color: #006edb;

	border: 1px solid rgba(0, 110, 219, 0.2);
	border-radius: 10px;

	&:not(:first-child) {
		margin-left: 20px;
	}

	&:hover {
		background-color: rgba(0, 110, 219, 0.2);
		border: 1px solid rgba(0, 110, 219, 1);
	}
	
	&:active {
		background-color: rgba(0, 110, 219, 0.3);
		border: 1px solid rgba(0, 110, 219, 1);
	}

	@media (max-width: 992px) {
		font-size: 16px;
		padding: 10px;

		&:not(:first-child) {
			margin-left: 10px;
		}
	}

	@media (max-width: 767px) {
		font-size: 15px;
	}
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;

	@media (max-width: 992px) {
		margin-right: 0;
	}
}

.text {
	font-size: 18px;
	color: #006edb;

	@media (max-width: 992px) {
		font-size: 16px;
		display: none;
	}

	@media (max-width: 767px) {
		font-size: 15px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}