@import 'scss/libs/variables.scss';

.root {
	padding: 12px;
	border: 1px solid $blue;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	flex: 1 1 auto;
	position: relative;
	background-color: #fff;

	::-webkit-input-placeholder {
		/* WebKit browsers */
		font-size: 18px;
		color: $grey;
	}

	:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		font-size: 18px;
		color: $grey;
	}

	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		font-size: 18px;
		color: $grey;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		font-size: 18px;
		color: $grey;
	}
}

.icon {
	position: relative;
	left: 0;
	width: 18px;
}

.input {
	margin-left: 5px;
	width: 100%;
	font-size: 18px;
	color: $grey;
}

.erase {
	display: block;
}