@import 'scss/libs/variables.scss';

.root {
	display: block;
}

.block {
	display: flex;
	align-items: center;
	height: 130px;
	position: relative;
	justify-content: space-between;
}

.text {
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 16px;

	@media (max-width: 992px) {
		font-size: 14px;
	}

	@media (max-width: 767px) {
		font-size: 13px;
	}

	@media (max-width: 480px) {
		font-size: 11px;
	}
}

.user {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}