@import 'scss/variables.scss';

.root {
	display: flex;
	align-items: baseline;
	margin-right: 30px;
}

.icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	opacity: 0.8;
}

.value {
	color: $blue;
	font-size: 60px;
}

.measure {
	color: $blue;
	font-size: 20px;
}