@import 'scss/libs/variables.scss';

.item {
	padding: 20px;
	font-size: 20px;
	position: relative;
	display: flex;
	align-items: center;

	&:after {
		content: '';
		border-bottom: 1px solid $lightGrey;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&:before {
		content: '';
		background-image: url('/assets/icons/common icons/recent.svg');
		background-size: cover;
		display: inline-block;
		margin-right: 10px;
		width: 30px;
		height: 30px;

		@media (max-width: 992px) {
			width: 20px;
			height: 20px;
		}

		@media (max-width: 480px) {
			width: 15px;
			height: 15px;
		}
	}

	&:last-child:after {
		display: none;
	}

	&:last-child {
		border-radius: 0 0 20px 20px;
	}

	&:hover {
		background-color: $blue;
		color: #fff;

		&:before {
			content: url('/assets/icons/common icons/color icons/recent.svg');
		}
	}

	@media (max-width: 992px) {
		padding: 15px;
		font-size: 18px;
	}

	@media (max-width: 767px) {
		padding: 10px;
		font-size: 16px;
	}

	@media (max-width: 480px) {
		padding: 5px 5px 5px 10px;
		font-size: 13px;
	}
}

.itemFav {
	padding: 20px;
	font-size: 20px;
	position: relative;
	display: flex;
	align-items: center;

	&:after {
		content: '';
		border-bottom: 1px solid $lightGrey;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&:before {
		content: '';
		background-image: url('/assets/icons/common icons/favorite-color.svg');
		display: inline-block;
		margin-right: 10px;
		width: 30px;
		height: 30px;
		background-size: cover;

		@media (max-width: 992px) {
			width: 20px;
			height: 20px;
		}

		@media (max-width: 480px) {
			width: 15px;
			height: 15px;
		}
	}

	&:last-child:after {
		display: none;
	}

	&:last-child {
		border-radius: 0 0 20px 20px;
	}

	&:hover {
		background-color: $blue;
		color: #fff;

		&:before {
			content: url('/assets/icons/common icons/favorite.svg');
		}
	}

	@media (max-width: 992px) {
		padding: 15px;
		font-size: 18px;
	}

	@media (max-width: 767px) {
		padding: 10px;
		font-size: 16px;
	}

	@media (max-width: 480px) {
		padding: 5px 5px 5px 10px;
		font-size: 14px;
	}
}