@import 'scss/libs/variables.scss';

.root {
	flex: 1 1 auto;
	margin-bottom: 30px;

	@media (max-width: 767px) {
	}
}

.container {
	margin: 0 auto;
	max-width: $container-width;
	padding: 10px 0;
}

.title {
	font-size: 25px;
	margin-bottom: 30px;

	@media (max-width: 1200px) {
		font-size: 23px;
		margin-bottom: 20px;
	}

	@media (max-width: 992px) {
		font-size: 21px;
	}
}