@import 'scss/libs/variables.scss';

.root {
	display: flex;
	flex-direction: column;
}

.block {
	position: relative;

	@media (max-width: 480px) {
		margin-bottom: 5px;
	}
}

.label {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.6rem;
	margin-bottom: 10px;

	@media (max-width: 992px) {
		font-size: 16px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
		margin-bottom: 5px;
	}

	@media (max-width: 480px) {
		font-size: 12px;
		margin-bottom: 0;
	}
}

.input {
	padding: 12px 20px;
	border: 1px solid #56616c;
	border-radius: 10px;
	font-size: 18px;
	color: $black;
	margin-bottom: 20px;
	font-weight: 600;
	width: 100%;

	@media (max-width: 992px) {
		font-size: 16px;
		margin-bottom: 15px;
		padding: 8px 15px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
		margin-bottom: 10px;
		padding: 5px 10px;
	}

	@media (max-width: 480px) {
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.icon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 37px;
	cursor: pointer;

	@media (max-width: 992px) {
		width: 16px;
		height: 16px;
		top: 34px;
	}

	@media (max-width: 767px) {
		width: 14px;
		height: 14px;
		top: 30px;
	}

	@media (max-width: 480px) {
		width: 12px;
		height: 12px;
		top: 30px;
	}
}

.btn {
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
	background-color: $black;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 20px;

	&:hover {
		background-color: rgb(51, 51, 51);
	}

	&:active {
		transition: all 0s ease 0s;
		background-color: rgb(102, 102, 102);
	}

	@media (max-width: 992px) {
		padding: 10px;
		font-size: 18px;
		margin-bottom: 15px;
	}

	@media (max-width: 767px) {
		padding: 10px;
		font-size: 14px;
		margin-bottom: 5px;
	}

	@media (max-width: 480px) {
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.link {
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
	right: 0;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	margin-top: -5px;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}

	@media (max-width: 992px) {
		font-size: 13px;
		margin-bottom: 10px;
	}

	@media (max-width: 767px) {
		font-size: 12px;
		margin-bottom: 5px;
	}

	@media (max-width: 480px) {
		font-size: 11px;
		margin-bottom: 5px;
	}
}