@import 'scss/libs/variables.scss';

.root {
	display: grid;
	grid-template-columns: 0.1fr 0.2fr 0.3fr 0.3fr 0.3fr 0.3fr;
	grid-template-areas: "time weather temp precip wind condition";
	justify-items: center;
	column-gap: 10px;
	position: relative;
	left: 0;
	width: 100%;
	padding-bottom: 5px;

	&:after {
		content: '';
		border-bottom: 1px solid $lightGrey;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	@media (max-width: 767px) {
		grid-template-columns: 0.1fr 0.2fr 0.3fr 0.3fr 0.3fr;
		grid-template-areas: "time weather temp precip wind";
	}

	@media (max-width: 480px) {
		display: none;
	}
}

.time {
	grid-area: 'time';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.weather {
	grid-area: 'weather';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	
	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.temp {
	grid-area: 'temp';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	
	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.precip {
	grid-area: 'precip';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	
	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.wind {
	grid-area: 'wind';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	
	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.condition {
	grid-area: 'condition';

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	@media (max-width: 767px) {
		display: none;
	}
}