@import 'scss/variables.scss';

.current {
	background-color: #fff;
	padding: 30px 40px;
	margin-top: 20px;
	border-radius: 8px;;
	box-shadow: rgb(0 0 0 / 10%) 2px 0.125em 0.1875em;
	max-width: 900px;
	z-index: 1;
	margin-bottom: 50px;

	&__hero {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.hero__title {
			font-size: 20px;
		}

		.hero__icon {
			width: 18px;
			height: 18px;
			margin-right: 10px;
		}
	}

	&__block {
		display: flex;
		align-items: flex-end;

		.block__icon {
			margin-right: 20px;
			width: 100px;
			height: 100px;
		}

		.block__temp {
			display: flex;
			align-items: baseline;
			margin-right: 30px;

			.temp__icon {
				width: 30px;
				height: 30px;
				opacity: 0.8;
			}

			.temp__real {
				color: $red;
				font-size: 60px;
			}

			.temp__text {
				font-size: 18px;

				.temp__feels {
					color: $red;
					font-size: 20px;
				}
			}
		}

		.block__precip {
			display: flex;
			align-items: baseline;
			margin-right: 30px;

			.precip__icon {
				width: 30px;
				height: 30px;
				margin-right: 10px;
				opacity: 0.8;
			}

			.precip__value {
				color: $blue;
				font-size: 60px;
			}

			.precip__measure {
				color: $blue;
				font-size: 20px;
			}
		}

		.block__wind {
			display: flex;
			align-items: baseline;

			.wind__icon {
				width: 30px;
				height: 30px;
				margin-right: 10px;
				opacity: 0.8;
			}

			.wind__value {
				color: $black;
				font-size: 60px;
				margin-right: 5px;
			}

			.wind__measure {
				font-size: 20px;
			}

			.wind__direction {
				width: 30px;
				height: 30px;
			}
		}
	}

}