@import 'scss/libs/variables.scss';

.root {
	grid-area: 'days';
}

.text {
	font-size: 20px;
	padding-left: 15px;

	@media (max-width: 1500px) {
		font-size: 18px;
	}

	@media (max-width: 992px) {
		font-size: 16px;
	}

	@media (max-width: 767px) {
		padding-left: 10px;
	}

	@media (max-width: 530px) {
		font-size: 14px;
	}
}

.title {
	font-size: 22px;
	font-weight: 400;

	@media (max-width: 480px) {
		font-size: 20px;
	}
}