@import 'scss/libs/variables.scss';
.root {
	position: relative;
	display: grid;
	grid-template-areas: ". times . weather .";
	grid-template-columns: 0.6fr 1.2fr 0.2fr 0.8fr 0.5fr;
	column-gap: 10px;

	&:after {
		content: '';
		border-bottom: 1px solid $lightGrey;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;

		@media (max-width: 530px) {
			display: none;
		}
	}

	@media (max-width: 1400px) {
		grid-template-columns: 0.8fr 0.6fr 0.15fr;
		max-height: 20px;
		gap: 0;
		grid-template-areas: ". times .";
	}

	@media (max-width: 992px) {
		grid-template-columns: 0.5fr 0.7fr 0.15fr;
	}

	@media (max-width: 530px) {
		grid-template-columns: 0.4fr 0.5fr 0.1fr;
		grid-template-areas: ". weather .";
	}
}

.times {
	display: flex;
	justify-content: space-between;
	grid-area: times;

	@media (max-width: 530px) {
		display: none;
	}
}

.weather {
	display: flex;
	justify-content: space-between;
	grid-area: weather;

	@media (max-width: 1400px) {
		display: none;
	}
}

.text {
	font-size: 16px;
	opacity: 0.8;

	@media (max-width: 767px) {
		font-size: 14px;
	}
}