@import 'scss/libs/variables.scss';

.root {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-area: hourly;

	@media (max-width: 1400px) {
		justify-self: center;
	}
}

.text {
	font-size: 16px;

	@media (max-width: 1500px) {
		font-size: 14px;
		display: none;
	}
}

.icon {
	opacity: 0.6;
}