@import 'scss/libs/variables.scss';

.root {
	display: flex;
	justify-content: space-between;
	grid-area: periods;
	// max-height: 40px;

	@media (max-width: 530px) {
		display: none;
	}
}

.empty {
	width: 64px;
	height: 64px;
}

.icon {
	display: block;
	width: 64px;
	height: 64px;

	@media (max-width: 1500px) {
		width: 50px;
		height: 50px;
	}

	@media (max-width: 767px) {
		width: 40px;
		height: 40px;
	}
}