@import 'scss/libs/variables.scss';

.root {
	display: flex;
	justify-content: space-between;
	grid-area: values;

	@media (max-width: 1400px) {
		padding-left: 15px;
		max-width: 200px;
	}

	@media (max-width: 767px) {
		max-width: 170px;
		padding-left: 10px;
	}

	@media (max-width: 530px) {
		padding-left: 0;
		justify-items: center;
	}

	@media (max-width: 480px) {
		justify-content: center;
	}
}

.temp {
	font-size: 24px;

	@media (max-width: 1500px) {
		font-size: 22px;
		margin-right: 0;
		margin-left: 0;
	}

	@media (max-width: 1400px) {
		font-size: 18px;
	}

	@media (max-width: 767px) {
		font-size: 16px;
	}
}

.text {
	color: $red;
}

.precip {
	display: block;
}

.precipValue {
	font-size: 24px;
	color: $blue;

	@media (max-width: 1400px) {
		font-size: 18px;
	}

	@media (max-width: 767px) {
		font-size: 16px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}

.precipText {
	font-size: 18px;
	color: $blue;

	@media (max-width: 1400px) {
		font-size: 16px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}

.wind {
	display: block;
}

.windValue {
	font-size: 24px;
	color: $black;

	@media (max-width: 1400px) {
		font-size: 18px;
	}

	@media (max-width: 767px) {
		font-size: 16px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}

.windText {
	font-size: 18px;
	color: $black;

	@media (max-width: 1400px) {
		font-size: 16px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}