@import 'scss/variables.scss';

.header-list {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-bottom: 10px;

	&__text {
		font-size: 16px;
		color: $grey;
		flex: 0 0 14%;

	}

	&:after {
		content: '';
		border-bottom: 1px solid $lightGrey;
		width: 100%;
		display: block;
		position: absolute;
		bottom: -10px;
	}
}