@import 'scss/libs/variables.scss';

.action {
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	background-color: $white;
	padding: 15px;
	border-radius: 10px 10px 0 0;

	&:hover {
		background-color: $blue;

		.actionText {
			color: $white;
		}

		.add {
			path {
				stroke: #fff;
			}
		}

		.remove {
			path {
				stroke: #fff;
			}
		}
	}

	@media (max-width: 992px) {
		padding: 10px;
	}
}

.actionText {
	font-size: 22px;
	margin-left: 5px;

	@media (max-width: 992px) {
		font-size: 18px;
	}

	
	@media (max-width: 767px) {
		font-size: 16px;
	}
}

.add {
	@media (max-width: 992px) {
		width: 18px;
		height: 18px;
	}

	@media (max-width: 767px) {
		width: 16px;
		height: 16px;
	}
}

.remove {
	@media (max-width: 992px) {
		width: 18px;
		height: 18px;
	}

	@media (max-width: 767px) {
		width: 16px;
		height: 16px;
	}
}

.divider {
	border-bottom: 1px solid $lightGrey;
	width: 100%;
}

.info {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;

	@media (max-width: 992px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.infoText {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;

	@media (max-width: 992px) {
		font-size: 14px;
		margin-bottom: 5px;
	}

	@media (max-width: 767px) {
		font-size: 13px;
		margin-bottom: 0;
	}
}

.coords {
	font-size: 16px;
	font-style: italic;

	@media (max-width: 992px) {
		font-size: 14px;
	}

	@media (max-width: 480px) {
		font-size: 13px;
	}
}