@import 'scss/libs/variables.scss';

.city {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 5px;
	width: 350px;

	@media (max-width: 767px) {
		margin-bottom: 0;
	}

	@media (max-width: 370px) {
		width: 100px;
	}
}

.name {
	font-size: 28px;
	font-weight: 600;
	line-height: 1.6rem;
	margin-right: 5px;

	@media (max-width: 992px) {
		font-size: 20px;
	}

	@media (max-width: 767px) {
		font-size: 18px;
	}

	@media (max-width: 480px) {
		font-size: 14px;
	}
}

.icon {
	@media (max-width: 992px) {
		width: 18px;
		height: 18px;
	}

	@media (max-width: 767px) {
		width: 16px;
		height: 16px;
	}

	@media (max-width: 480px) {
		width: 12px;
		height: 12px;
	}
}

.region {
	font-size: 16px;
	cursor: pointer;

	@media (max-width: 992px) {
		font-size: 15px;
	}

	@media (max-width: 767px) {
		font-size: 13px;
	}

	@media (max-width: 480px) {
		font-size: 11px;
	}
}