@import 'scss/libs/variables.scss';

.root {
	display: flex;
	flex: 1 1 auto;
	position: relative;

	@media (max-width: 370px) {
	}
}

.addFav {
	width: 350px;
	background-color: $white;
	border-radius: 10px;
	box-shadow: 2px 2px rgb(33 41 43 / 10%);
	position: absolute;
	top: 60px;

	@media (max-width: 992px) {
		max-width: 300px;
	}

	@media (max-width: 480px) {
		max-width: 200px;
	}
}

.block {
	display: block;

	@media (max-width: 767px) {
		max-width: 200px;
	}

	@media (max-width: 450px) {
		max-width: 150px;
	}
}

