@import 'scss/_variables.scss';

.location {
	display: flex;
	flex: 1 1 auto;
	position: relative;
}

.city {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 5px;
	width: 350px;

	&__name {
		font-size: 28px;
		font-weight: 600;
		line-height: 1.6rem;
		margin-right: 5px;
	}
}

.fav {
	width: 20px;
	height: 20px;
}

.region {
	font-size: 16px;
	cursor: pointer;
}

.add-fav {
	width: 350px;
	background-color: $white;
	border-radius: 10px;
	box-shadow: 2px 2px rgb(33 41 43 / 10%);
	position: absolute;
	top: 60px;

	&__action {
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		background-color: $white;
		padding: 15px;
		border-radius: 10px 10px 0 0;


		&:hover {
			background-color: $blue;

			.action__text {
				color: $white;
			}

			.add-icon {
				path {
					stroke: #fff;
				}
			}

			.remove-icon {
				path {
					stroke: #ff9d00;
				}
			}
		}

		.action__text {
			font-size: 22px;
			margin-left: 5px;
		}

	}

	&__info {
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 15px;

		.info__text {
			font-size: 16px;
			font-style: italic;
			margin-bottom: 10px;
		}

		.info__coords {
			font-size: 16px;
			font-style: italic;
		}
	}
}